:root {
    --chakra-shadows-outline: rgb(92, 153, 62) !important;
}
.css-ks98qh:focus,
.css-ks98qh[data-focus],
.css-bpsk0e:focus,
.css-bpsk0e[data-focus],
.css-n512j1:focus,
.css-n512j1[data-focus],
.css-1k27his:focus,
.css-1k27his[data-focus],
.css-u8frlc:focus,
.css-u8frlc[data-focus],
.css-1m0798y:focus,
.css-1m0798y[data-focus],
.css-1v6c5m7:focus,
.css-1v6c5m7[data-focus],
.css-z0cpft:focus,
.css-z0cpft[data-focus],
.css-1e11l15:focus,
.css-1e11l15[data-focus] {
    z-index: 1;
    border-color: rgb(92, 153, 62) !important;
    box-shadow: 0 0 0 1px rgb(92, 153, 62) !important;
}
.bgBlack {
    background-image: url('./assets/dark-quantox-logo.png'),
        url('./assets/dark-quantox-logo.png'),
        url('./assets/dark-quantox-logo.png'),
        url('./assets/dark-quantox-logo.png'),
        url('./assets/dark-quantox-logo.png'),
        url('./assets/dark-quantox-logo.png');
    background-color: black;
    background-repeat: repeat-y, repeat-y, repeat-y;
    background-position: 10px, 60px, 110px, calc(100vw - 50px),
        calc(100vw - 100px), calc(100vw - 150px);
}
@media (max-width: 767px) {
    .bgBlack {
        background-position: 10px, calc(100vw - 50px);
    }
}
