#questionAnswer[type='file'] {
    display: block;
    color: #a0aec0;
    padding-top: 5px;
}
#questionAnswer:focus-visible[type='file'] {
    color: white !important;
}
#questionAnswer[type='file']::-webkit-file-upload-button {
    margin-top: 0px;
}
.redBorder:focus,
.redBorder select:focus,
.redBorder select:focus,
.redBorder textarea:focus {
    border-color: red !important;
    box-shadow: none !important;
}
